@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --main: #ff4757;
    --mainShadow: #ff6b81;
    --secondary: #1e90ff;
    --secondaryShadow: #70a1ff;
    --mainBg: #ced6e0;
    --secondBg: #dfe4ea;
    --mainText: white;
    --secondText: #2f3542;
    --secondTxtShadow: #57606f;
    --titleSize: 22pt;
    --subtitleSize: 18pt;
    --contentSize: 14pt;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.btn {
    padding: .5rem 1rem;
    font-size: var(--contentSize);
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn.principal {
    background-color: var(--main);
    color: var(--mainText);
}

.btn.principal-inv {
    background-color: var(--mainShadow);
    color: var(--mainText);
}

.btn.principal:hover {
    background-color: var(--mainShadow);
}

.btn.disabled {
    background-color: var(--secondTxtShadow);
    cursor: not-allowed;
}

.minibtn {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    transition: background-color .3s;
}

.info { background-color: #3498db; }
.info:hover { background-color: #2980b9; }
.edit { background-color: #f1c40f; }
.edit:hover { background-color: #f39c12; }
.add { background-color: #2ecc71; }
.add:hover { background-color: #27ae60; }
.remove { background-color: #e74c3c; }
.remove:hover { background-color: #c0392b; }
.delete { background-color: #c0392b; }
.delete:hover { background-color: #e74c3c; }

